.story {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(13, 75, 158, 0) 0%, #0d4b9e 100%);
    width: 100%;
    height: 16.094vw;
    z-index: 3;
  }
  .storyHeader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 2;
  }
  .storyBg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .storyContainer {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    .storyLeftBlock {
      position: relative;
      width: 33.906vw;
      .stone {
        position: absolute;
        left: -13.542vw;
        top: 5.729vw;
        width: 54.271vw;
      }
      .storyTitle {
        font-family: "Wild World";
        font-style: normal;
        font-weight: 500;
        font-size: 2.5vw;
        line-height: 3.542vw;
        color: #ffffff;
        span {
          color: #ff66c4;
        }
      }
      .storySubtitle {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.146vw;
        line-height: 1.667vw;
        letter-spacing: -0.02em;
        color: #ffffff;
        position: relative;
        width: 16.406vw;
        display: block;
        margin: 10.521vw 0 0 12.5vw;
        img {
          width: 4.167vw;
          position: absolute;
          bottom: -0.313vw;
          right: 4.479vw;
          transform: translateY(100%);
        }
      }
    }
    .storyRightBlock {
      width: 29.01vw;
      height: 37.188vw;
      background-image: url(/assets/img/about/story/scroll.png);
      background-size: 100% 100%;
      padding: 5.573vw 1.823vw 5.573vw 2.708vw;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 26.042vw;
        height: 33.262vw;
        background: #59a3e4;
        filter: blur(1.563vw);
        display: block;
        z-index: -1;
      }
      img {
        content: url(/assets/img/about/story/superlotl.png);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%);
        display: block;
        width: 32.552vw;
        height: auto;
        z-index: -2;
      }

      .description {
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        padding: 0 1.563vw 0 0;
        display: flex;
        flex-direction: column;
        gap: 1.042vw;
        p {
          display: block;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 0.833vw;
          line-height: 1.25vw;
          letter-spacing: -0.02em;
          color: #07031f;
        }
        &::-webkit-scrollbar {
          width: 0.208vw;
        }

        &::-webkit-scrollbar-track {
          background-color: #07031f30;
          border-radius: 0.417vw;
        }
        &::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 0.313vw #07031f;
          border-radius: 0.417vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .story {
    &::before {
      height: 24.654vw;
      z-index: 2;
    }
    .storyContainer {
      .storyLeftBlock {
        width: 51.758vw;
        .stone {
          left: -19vw;
          top: 25.729vw;
          width: 66.211vw;
        }
        .storyTitle {
          font-size: 3.711vw;
          line-height: 4.688vw;
        }
        .storySubtitle {
          font-size: 1.758vw;
          line-height: 2.734vw;
          width: 24.414vw;
          margin: 28vw 0 0 3.711vw;
          img {
            width: 5.319vw;
            bottom: 0.781vw;
            right: 11vw;
          }
        }
      }
      .storyRightBlock {
        margin: 9.766vw 0 0 0;
        width: 42.09vw;
        height: 54.004vw;
        padding: 8.789vw 2.93vw 8.594vw 3.906vw;
        position: relative;
        &::before {
          width: 37.739vw;
          height: 48.284vw;
          filter: blur(2.539vw);
        }
        img {
          width: 44.02vw;
          top: -5.664vw;
          left: -2.637vw;
          width: 63.379vw;
        }

        .description {
          padding: 0 1.953vw 0 0;
          gap: 2.042vw;
          p {
            font-size: 1.367vw;
            line-height: 1.953vw;
          }
          &::-webkit-scrollbar {
            width: 0.208vw;
          }

          &::-webkit-scrollbar-track {
            background-color: #07031f30;
            border-radius: 0.417vw;
          }
          &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 0.313vw #07031f;
            border-radius: 0.417vw;
          }
        }
      }
    }
  }
}

@media only screen and (min-aspect-ratio: 1920 / 860) and (min-width: 1281px) {
  .story {
    height: 50.521vw;
  }
}

@media only screen and (min-aspect-ratio: 1024 / 768) and (min-width: 601px) {
  .story {
    height: 67.188vw;
  }
}
