.wrapper {
  width: 100%;
  height: auto;
  background-color: #0d4b9e;
  overflow: hidden;
  position: relative;
}
.container {
  width: 76.458vw;
  margin: 0 auto;
}

.overflowHidden {
  height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 92.188vw;
  }
}

@media only screen and (max-width: 860px) {
  .container {
    width: 89.583vw;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 89.333vw;
  }
}
