@keyframes about-logo-bg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(14.5%);
  }
  100% {
    transform: translateY(0);
  }
}

.about {
  position: relative;
  padding: 5.99vw 0 3.229vw 0;
  height: 100vh;
  display: flex;
  align-items: center;

  .logoBg {
    position: absolute;
    top: 10.104vw;
    right: 10vw;
    width: 30vw;
    height: auto;
    opacity: 0.1;
    animation: about-logo-bg 6s ease-in-out infinite;
    z-index: 1;
  }

  .aboutBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
  }

  .aboutContainer {
    z-index: 1;

    .aboutTitle {
      font-family: "Wild World";
      font-weight: 500;
      font-size: 3.542vw;
      line-height: 4.583vw;
      color: #ffffff;
    }

    .aboutSubtitle {
      margin: 2.604vw 0 0 0;
      width: 44.115vw;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 1.146vw;
      line-height: 1.667vw;
      letter-spacing: -0.02em;
      color: #ffffff;
    }

    .aboutDescription {
      display: block;
      margin: 2.083vw 0 0 0;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 0.938vw;
      line-height: 1.354vw;
      letter-spacing: -0.02em;
      color: #ffffff;
      opacity: 0.5;
    }

    .aboutSliderWrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 2.604vw 0 0 0;

      .slider {
        display: flex;
        align-items: center;
        gap: 2.344vw;

        .buttonPrev,
        .buttonNext {
          padding: 0;
          margin: 0;
          width: 2.917vw;
          height: 1.25vw;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          border: 0.052vw solid #ffffff;
          border-radius: 0.417vw;
          transition: 0.3s color;
          transform: translateY(0.938vw);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.25s background ease-out, 0.25s border ease-out,
          0.2s ease-in-out opacity;

          img {
            width: 1.771vw;
            height: 0.521vw;
          }

          &:hover {
            background: #ff66c4;
            border: 0.052vw solid #ff66c4;
          }

          &.inactive {
            opacity: 0.3;

            &:hover {
              border: 0.052vw solid #ffffff;
              background: none;
            }
          }
        }

        .buttonNext {
          img {
            transform: rotate(180deg);
          }
        }

        .slideContainer {
          overflow: hidden;
          width: 33.646vw;

          .slideWrapper {
            position: relative;
            display: flex;
            align-items: flex-end;
            gap: 0.521vw;
            transition: 0.35s transform ease-in-out;

            .slide {
              flex-shrink: 0;
              width: 7.083vw;
              height: 7.083vw;
              padding: 0 0.938vw 0.677vw 0.938vw;
              display: flex;
              border-radius: 0.417vw 0.417vw 0vw 0vw;
              -webkit-mask-image: -webkit-radial-gradient(white, black);
              transition: 0.35s width ease-in-out, 0.35s height ease-in-out;
              position: relative;
              overflow: hidden;

              img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              span {
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 0.677vw;
                line-height: 1.146vw;
                letter-spacing: -0.02em;
                color: #ffffff;
                z-index: 1;
                transition: 0.35s transform, .35s;
                margin: auto 0 0 0;
                transform-origin: bottom left;
              }

              &.active {
                width: 8.958vw;
                height: 8.958vw;

                span {
                  transform: scale(1.23);
                }
              }
            }
          }
        }
      }

      .sliderDescription {
        width: 22.917vw;

        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 0.938vw;
          line-height: 1.354vw;
          letter-spacing: -0.02em;
          color: #ffffff;

          &:last-child {
            color: #ff66c4;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .about {
    padding: 0;
    height: 100vh;
    .logoBg {
      top: 13.672vw;
      right: 3.906vw;
      width: 38.086vw;
    }
    .aboutContainer {
      .aboutTitle {
        font-size: 4.688vw;
        line-height: 6.641vw;
      }
      .aboutSubtitle {
        margin: 0.977vw 0 0 0;
        width: 54.688vw;
        font-size: 1.758vw;
        line-height: 2.734vw;
      }
      .aboutDescription {
        margin: 2.93vw 0 0 0;
        font-size: 1.563vw;
        line-height: 2.344vw;
      }
      .aboutSliderWrapper {
        margin: 2.93vw 0 0 0;
        align-items: flex-start;
        .slider {
          position: relative;
          .buttonPrev,
          .buttonNext {
            position: absolute;
            left: 50%;
            top: auto;
            bottom: 0;
            width: 5.469vw;
            height: 2.344vw;
            border: 1px solid #ffffff;
            border-radius: 0.781vw;
            transition: 0.3s color;
            z-index: 1;
            img {
              width: 3.32vw;
              height: 0.977vw;
            }
            &:hover {
              border: 1px solid #ff66c4;
            }
            &.inactive {
              &:hover {
                border: 1px solid #ffffff;
              }
            }
          }
          .buttonNext {
            transform: translate(0.488vw, calc(100% + 2.441vw));
            img {
              transform: rotate(180deg);
            }
          }
          .buttonPrev {
            transform: translate(calc(-100% - 0.488vw), calc(100% + 2.441vw));
          }
          .slideContainer {
            width: 54.688vw;
            .slideWrapper {
              gap: 0.847vw;
              .slide {
                width: 11.513vw;
                height: 11.513vw;
                padding: 0 1.514vw 1.172vw 1.523vw;
                border-radius: 0.684vw 0.684vw 0 0;
                span {
                  font-size: 1.101vw;
                  line-height: 1.855vw;
                }
                &.active {
                  width: 14.561vw;
                  height: 14.561vw;
                  span {
                    transform: scale(1.26);
                  }
                }
              }
            }
          }
        }
        .sliderDescription {
          width: 28.125vw;
          p {
            font-size: 1.563vw;
            line-height: 2.344vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .about {
    .logoBg {
      top: 27.344vw;
      right: 5.208vw;
      width: 36.979vw;
    }
    .aboutContainer {
      .aboutTitle {
        font-size: 6.25vw;
        line-height: 8.854vw;
      }
      .aboutSubtitle {
        margin: 1.302vw 0 0 0;
        width: 52.604vw;
        font-size: 2.344vw;
        line-height: 3.646vw;
      }
      .aboutDescription {
        margin: 3.906vw 0 0 0;
        font-size: 2.083vw;
        line-height: 3.125vw;
      }
      .aboutSliderWrapper {
        margin: 3.906vw 0 0 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 6.51vw;
        .slider {
          width: 100%;
          position: relative;
          justify-content: space-between;
          .buttonPrev,
          .buttonNext {
            position: static;
            left: auto;
            top: auto;
            bottom: auto;
            width: 7.292vw;
            height: 3.125vw;
            border: 1px solid #ffffff;
            border-radius: 1.042vw;
            transform: none;
            img {
              width: 4.427vw;
              height: 1.302vw;
            }
            &:hover {
              border: 1px solid #ff66c4;
            }
            &.inactive {
              &:hover {
                border: 1px solid #ffffff;
              }
            }
          }
          .buttonNext {
            img {
              transform: rotate(180deg);
            }
          }

          .slideContainer {
            width: 69.792vw;
            .slideWrapper {
              gap: 1.042vw;
              .slide {
                width: 14.583vw;
                height: 14.583vw;
                padding: 0 1.563vw 1.563vw 1.563vw;
                border-radius: 0.903vw 0.903vw 0 0;
                span {
                  font-size: 1.467vw;
                  line-height: 2.474vw;
                }
                &.active {
                  width: 18.49vw;
                  height: 18.49vw;
                  span {
                    transform: scale(1.26);
                  }
                }
              }
            }
          }
        }
        .sliderDescription {
          width: 57.943vw;
          margin: 0 0 0 auto;
          p {
            font-size: 2.083vw;
            line-height: 3.125vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .about {
    height: auto;
    padding: 32vw 0 0 0;
    .aboutBg {
      width: 150%;
    }
    .logoBg {
      top: 22.667vw;
      right: 5.333vw;
      width: 41.867vw;
    }
    .aboutContainer {
      .aboutTitle {
        font-size: 10.133vw;
        line-height: 12.8vw;
      }
      .aboutSubtitle {
        margin: 2.666vw 0 0 0;
        width: 100%;
        font-size: 4vw;
        line-height: 6.4vw;
      }
      .aboutDescription {
        margin: 7.999vw 0 0 0;
        font-size: 4vw;
        line-height: 6.4vw;
      }
      .aboutSliderWrapper {
        margin: 7.999vw 0 0 0;
        gap: 13.333vw;
        .slider {
          width: 100%;
          position: relative;
          justify-content: space-between;
          .buttonPrev,
          .buttonNext {
            position: absolute;
            left: 50%;
            top: auto;
            bottom: 0;
            width: 14.934vw;
            height: 6.4vw;
            border: 1px solid #ffffff;
            border-radius: 2.134vw;
            transform: none;
            img {
              width: 9.066vw;
              height: 2.666vw;
            }
            &:hover {
              border: 1px solid #ff66c4;
            }
            &.inactive {
              &:hover {
                border: 1px solid #ffffff;
              }
            }
          }
          .buttonNext {
            transform: translate(1.333vw, calc(100% + 5.333vw));
            img {
              transform: rotate(180deg);
            }
          }
          .buttonPrev {
            transform: translate(calc(-100% - 1.333vw), calc(100% + 20px));
          }

          .slideContainer {
            width: 100%;
            overflow: visible;
            .slideWrapper {
              gap: 2.134vw;
              .slide {
                width: 29.866vw;
                height: 29.866vw;
                padding: 0 3.201vw 3.201vw 3.201vw;
                border-radius: 1.849vw 1.849vw 0 0;
                span {
                  font-size: 3.005vw;
                  line-height: 5.067vw;
                }
                &.active {
                  width: 37.867vw;
                  height: 37.867vw;
                  span {
                    transform: scale(1.26);
                  }
                }
              }
            }
          }
        }
        .sliderDescription {
          width: 100%;
          margin: 10.667vw 0 0 0;
          p {
            font-size: 4.266vw;
            line-height: 6.4vw;
          }
        }
      }
    }
  }
}

@media only screen and (min-aspect-ratio: 1920 / 860) and (min-width: 1281px) {
  .about {
    height: 50.521vw;
  }
}

@media only screen and (min-aspect-ratio: 1024 / 768) and (min-width: 861px) and (max-width: 1280px)  {
  .about {
    height: 67.188vw;
  }
}

@media only screen and (min-aspect-ratio: 768 / 800) and (min-width: 601px) and (max-width: 860px) {
  .about {
    height: 117.188vw;
  }
}
