.footer {
  overflow-y: hidden;
  // height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 12.5vw;
  padding: 5.99vw 0 3.125vw 0;
  .footerBg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .footerContainer {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footerLeftBlock {
      .footerTitle {
        font-family: "Wild World";
        font-style: normal;
        font-weight: 500;
        font-size: 2.5vw;
        line-height: 3.542vw;
        color: #ffffff;
        width: 43.438vw;
        img {
          width: 27.917vw;
          height: auto;
        }
      }
      .footerSubtitle {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 0.938vw;
        line-height: 1.354vw;
        letter-spacing: -0.02em;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        margin: 1.563vw 0 0 0;
        gap: 0.417vw;
        a {
          color: #ff66c4;
        }
      }
    }
    .footerMail {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 1.979vw;
      line-height: 2.396vw;
      text-align: right;
      letter-spacing: -0.02em;
      color: #ff66c4;
      display: flex;
      align-items: center;
      gap: 0.833vw;
      transform: translateY(-15%);
      img {
        width: 2.214vw;
        height: auto;
      }
    }
  }
  .socialContainer {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    .socialLeftBlock {
      opacity: 0;
      display: flex;
      gap: 2.083vw;
      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 0.625vw;
        line-height: 0.781vw;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
    .socialLogo {
      width: 9.063vw;
      height: auto;
    }
    .social {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      gap: 1.042vw;
      a {
        text-decoration: none;
        svg {
          display: block;
          width: 2.083vw;
          height: auto;
          circle {
            transition: 0.35s fill;
          }
        }
        &:hover {
          svg {
            circle {
              fill: #ff66c4;
            }
            path {
              fill: #ffffff;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .footer {
    gap: 14.648vw;
    padding: 9.766vw 0 5.859vw 0;
    .footerContainer {
      .footerLeftBlock {
        .footerTitle {
          font-size: 3.711vw;
          line-height: 4.688vw;
          width: 60.156vw;
          img {
            display: none;
          }
        }
        .footerSubtitle {
          font-size: 1.563vw;
          line-height: 2.344vw;
          margin: 9.766vw 0 0 0;
          gap: 0.586vw;
        }
      }
      .footerMail {
        position: absolute;

        font-size: 2.734vw;
        line-height: 3.32vw;
        gap: 1.172vw;
        transform: translateY(50%);
        img {
          width: 2.93vw;
        }
      }
    }
    .socialContainer {
      .socialLeftBlock {
        gap: 3.906vw;
        span {
          font-size: 1.172vw;
          line-height: 1.465vw;
        }
      }
      .socialLogo {
        width: 16.992vw;
      }
      .social {
        gap: 1.465vw;
        a {
          svg {
            width: 3.32vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .footer {
    gap: 13.021vw;
    padding: 13.021vw 0 7.812vw 0;
    .footerContainer {
      .footerLeftBlock {
        .footerTitle {
          font-size: 4.948vw;
          line-height: 6.251vw;
          width: 100%;
        }
        .footerSubtitle {
          font-size: 2.084vw;
          line-height: 3.125vw;
          margin: 13.021vw 0 0 0;
          gap: 0.781vw;
        }
      }
      .footerMail {
        font-size: 3.645vw;
        line-height: 4.427vw;
        gap: 1.563vw;
        img {
          width: 3.907vw;
        }
      }
    }
    .socialContainer {
      align-items: center;
      .socialLeftBlock {
        gap: 1.953vw;
        flex-direction: column;
        span {
          font-size: 1.563vw;
          line-height: 1.953vw;
        }
      }
      .socialLogo {
        width: 22.656vw;
      }
      .social {
        gap: 1.953vw;
        a {
          svg {
            width: 4.427vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    overflow: hidden;
    gap: 32vw;
    padding: 24vw 0 12vw 0;
    .footerBg {
      height: 133.333vw;
      object-fit: cover;
    }
    .footerContainer {
      .footerLeftBlock {
        .footerTitle {
          font-size: 7.467vw;
          line-height: 10.133vw;
        }
        .footerSubtitle {
          font-size: 3.733vw;
          line-height: 6.4vw;
          margin: 26.667vw 0 0 0;
          gap: 1.599vw;
        }
      }
      .footerMail {
        font-size: 5.867vw;
        line-height: 7.2vw;
        gap: 2.667vw;
        img {
          width: 6.667vw;
        }
      }
    }
    .socialContainer {
      flex-direction: column;
      .socialLeftBlock {
        gap: 4vw;
        flex-direction: column;
        span {
          font-size: 3.201vw;
          line-height: 4vw;
        }
      }
      .socialLogo {
        margin: 13.333vw 0 0 0;
        width: 46.399vw;
      }
      .social {
        right: 0;
        left: auto;
        top: 0%;
        gap: 4vw;
        transform: translate(0%, 15%);
        a {
          svg {
            width: 9.066vw;
          }
        }
      }
    }
  }
}
